.main-nav{
    min-height:4.8rem;
    width: 100%;
    margin: 0% auto;
    z-index: 1;
    top :0%;
    left: 0%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #fff3822b;
    border: 3px solid rgb(255, 184, 43);
    border-radius: 10px;
}
.navbar{
    height: 100%;
    min-width: 85%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    padding: 5px 25px;
}
.nav-item{
    margin:0px 3px;
    font-size:small;
    font-weight:500;
    text-decoration:none;
    color:rgba(255, 184, 4, 0.759);
    transition:0.2s;
}
.nav-btn{
    cursor: pointer;
    border-radius: 20px;
    padding:  10px 20px;
}
.nav-item:hover{
    background-color: rgba(0, 4, 118, 0.136);
}

.nav-logo{
    display: flex;
    justify-content: center;
    min-width: 50%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:15px
}

.logo-section{
    justify-self: center;
}