.auth-signup{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#580ec8,#8839ff,#cba9ff);
    z-index: 0;
    position:relative;
    padding-top: 5%;
    padding-bottom: 5%;
}

.page-2{
    width: 60vw;
}
